<p id="notice"><%= notice %></p>

<p>
  <b>Setup time:</b>
  <%= @trip_independent_info.setup_time %>
</p>

<p>
  <b>Mpg:</b>
  <%= @trip_independent_info.mpg %>
</p>

<p>
  <b>Home address:</b>
  <%= @trip_independent_info.home_address %>
</p>

<p>
  <b>Office address:</b>
  <%= @trip_independent_info.office_address %>
</p>

<p>
  <b>Daily Rate:</b>
  <%=number_to_currency @trip_independent_info.daily_rate %>
</p>


<%= link_to 'Edit', edit_trip_independent_info_path(@trip_independent_info) %> |
<%= link_to 'Back', trip_independent_infos_path %>
