<%= form_for(@travel_datum) do |f| %>
  <% if @travel_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel_datum.errors.count, "error") %> prohibited this travel_datum from being saved:</h2>

      <ul>
      <% @travel_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :start_time, "Start Time" %><br />
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :gas_price, "Gas Price:" %><br />
    <%= f.text_field :gas_price %>
  </div>
  <div class="field">
    <%= f.label :end_of_business_time, "End of Business:" %><br />
    <%= f.time_select :end_of_business_time %>
  </div>
  <div class="field">
    <%= f.label :master_or_assistant, "Position" %><br />
    <%= f.select :master_or_assistant, ['Master','Assistant'] %>
  </div>
   <div class="field">
    <%= f.label :is_traveling_to_office, "Traveling to office?" %><br />
    <%= f.select :is_traveling_to_office, ['Yes','No'] %>
  </div>
  <div class="field">
    <%= f.label :TotalBusinessTime, "Total Business Time:" %><br />
    <%= f.number_field :total_business_time %>
  </div>
  <div class="actions">
    <%= f.submit "Create Travel Entry" %>
  </div>
<% end %>
