<% require 'MyWeb' %>
<h1>Travel Data</h1>
<table id='example' cellpadding='2' cellspacing='2' border = '1' class='display'>
<% mt=MyWeb.new("New York, NY","Los Angeles, CA") %>
<% saddr=[] %>
<% daddr=[] %>
<% counter=0 %>
<% googleLink ="http://maps.google.com/maps?" %>
 <thead>
  <tr>
    <th>#</th>
    <th>Date</th>
    <th>Address</th>
    <th>School</th>
    <th>Start Time</th>
    <th>Distance from home</th>
    <th>Travel time</th>
    <th>Departure</th>
    <th>Distance from school to office</th>
    <th>Time from school to office</th>
    <th>Gas price</th>
    <th>Gas total</th>
    <th>End of business</th>
    <th>Position</th>
    <th>Traveling to office</th>
    <th>Total business time</th>
    <th>Hourly rate</th>
    <th>Business time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr></thead>
  <tbody>
<% @travel_data.each do |travel_datum| %>
  <tr>
    <% saddr[counter]= "6 Birchwood ave, East Setauket, NY" %>
    <% daddr[counter]= travel_datum.Address %>
    <% currUrl = googleLink+"saddr="+mt.stingToURLParameter(saddr[counter])+"&daddr="+mt.stingToURLParameter(daddr[counter]) %>
   <td><%= counter+1 %></td>
    <td><%= travel_datum.Date.strftime("%d/%m/%Y") %></td>
    <td><%=link_to travel_datum.Address, currUrl %></td>
    <td><%= travel_datum.School %></td>
    <td><%= travel_datum.StartTime.strftime("%I:%M %p") %></td>
    <td><%= travel_datum.DistanceFromHome %></td>
    <td><%= travel_datum.TravelTime %></td>
    <% if defined?(travel_datum.TravelTime) %>
    <td><%= travel_datum.Departure.strftime("%I:%M %p") %></td>
    <% else %>
    <td><%= travel_datum.StartTime.strftime("%I:%M %p")%></td>
    <% end %>
    <td><%= travel_datum.DistanceFromSchoolToOffice %></td>
    <td><%= travel_datum.TimeFromSchoolToOffice %></td>
    <td><%=number_to_currency travel_datum.gasprice %></td>
    <td><%=number_to_currency travel_datum.gastotal %></td>
    <td><%= travel_datum.EndOfBusiness.strftime("%I:%M %p") %></td>
    <td><%= travel_datum.position %></td>
    <td><%= travel_datum.isTravelingToOffice %></td>
    <td><%= travel_datum.TotalBusinessTime %></td>
    <td><%= travel_datum.HourlyRate %></td>
    <td><%= travel_datum.BusinessTime %></td>
    <td><%= link_to 'Show', travel_datum %></td>
    <td><%= link_to 'Edit', edit_travel_datum_path(travel_datum) %></td>
    <td><%= link_to 'Destroy', travel_datum, :confirm => 'Are you sure?', :method => :delete %></td>
    <% counter = counter +1 %>
  </tr>
<% end %>
</tbody></table>

<br />

<%= link_to 'New Travel Data', new_travel_datum_path %>
<%= link_to 'Logout', logout_path %>
