<h1>Travel Data</h1>
<table id='example' cellpadding='2' cellspacing='2' border = '1' class='display'>
 <thead>
  <tr>
    <th>#</th>
    <th>Date</th>
    <th>Address</th>
    <th>School</th>
    <th>Start Time</th>
    <th>Distance from home</th>
    <th>Travel time</th>
    <th>Departure</th>
    <th>Distance from school to office</th>
    <th>Time from school to office</th>
    <th>Gas price</th>
    <th>Gas total</th>
    <th>End of business</th>
    <th>Position</th>
    <th>Traveling to office</th>
    <th>Total business time</th>
    <th>Hourly rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr></thead>
  <tbody>
<% @travel_data.each_with_index do |travel_datum, counter| %>
  <tr id=<%= travel_datum.id %>>
    <td><%= counter+1 %></td>
    <td><%= travel_datum.date.strftime("%m/%d/%Y") %></td>
    <td><%=link_to travel_datum.address, get_directions_url(travel_datum.address) %></td>
    <td><%= travel_datum.school %></td>
    <td><%= travel_datum.start_time.strftime("%I:%M %p") %></td>
    <td><%= travel_datum.distance_from_home %></td>
    <td><%= travel_datum.formatted_home_to_school_travel_time %></td>
    <% if defined?(travel_datum.time_from_school_to_office) %>
    <td><%= travel_datum.departure.strftime("%I:%M %p") %></td>
    <% else %>
    <td><%= travel_datum.start_time.strftime("%I:%M %p")%></td>
    <% end %>
    <td><%= travel_datum.distance_from_school_to_office %></td>
    <td><%= travel_datum.formatted_school_to_office_travel_time %></td>
    <td><%=number_to_currency travel_datum.gas_price %></td>
    <td><%=number_to_currency travel_datum.total_trip_gas_cost %></td>
    <td><%= travel_datum.end_of_business_time.strftime("%I:%M %p") %></td>
    <td><%= travel_datum.master_or_assistant %></td>
    <td><%= travel_datum.is_traveling_to_office %></td>
    <td><%= travel_datum.formatted_total_business_time %></td>
    <td><%=number_to_currency  travel_datum.hourly_rate %></td>
    <td><%= link_to 'Show', travel_datum %></td>
    <td><%= link_to 'Edit', edit_travel_datum_path(travel_datum) %></td>
    <td><%= link_to 'Destroy', travel_datum, :confirm => 'Are you sure?', :method => :delete, :remote=>:true%></td>
  </tr>
<% end %>
</tbody></table>

<br />

<%= link_to 'New Travel Data', new_travel_datum_path %>
<%= link_to 'Logout', logout_path %>
