
  <h1>Travel Data</h1>
  <%= link_to 'New Travel Data', new_travel_datum_path %>
  <%= link_to 'Logout', logout_path %>
  <table id='example' cellpadding='2' cellspacing='2' border = '1' class='display'>
   <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Address</th>
      <th>School</th>
      <th>Start Time</th>
      <th>Distance from home</th>
      <th>Travel time</th>
      <th>Departure</th>
      <th>Distance from school to office</th>
      <th>Time from school to office</th>
      <th>Gas price</th>
      <th>Gas total</th>
      <th>End of business</th>
      <th>Position</th>
      <th>Traveling to office</th>
      <th>Total business time</th>
      <th>Hourly rate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr></thead>
    <tbody>
      <% last =1 %>
  <% @travel_data.each_with_index do |travel_datum, counter| %>
    <%= render travel_datum, :counter=> counter%>
    <%last = counter %>
  <% end %>
  <tr>
      <th><%= last+1 %></th>
      <!-- <form id="newform" action="/travel_data" method="post">  -->
      <th><input class=newfieild type="text" id="newdate" name="travel_datum[date]"></th>
      <th><input class=newfieild type="text" id="newaddress" name="travel_datum[address]"></th>
      <th><input class=newfieild type="text" id="newschool" name="travel_datum[school]"></th>
      <th><input class=newfieild type="time" id="newstarttime" name="travel_datum[start_time]"></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><input class=newfieild type="text" id="newgasprice" name="travel_datum[gas_price]"></th>
      <th></th>
      <th><input class=newfieild  type="text" id="newendofbusinesstime" name="travel_datum[end_of_business_time]"></th>
      <th><select class=newfieild type="text" id="newposition" name="travel_datum[master_or_assistant]">
        <option value="Master">Master</option>
        <option value="Assistant">Assistant</option>
        <option value="Photographer">Photographer</option>
        <option value="PDC">PDC</option>
      </select></th>
      <th><select class=newfieild  type="text" id="newendofbusinesstime" name="travel_datum[is_traveling_to_office]"> 
        <option value="Yes">Yes</option>
        <option value="No">No</option></th>
      </select>
      <th></th>
      <th></th>
      <th><input type="checkbox" id="submitbutton" value="Submit"></th>
    <!-- </form> -->
      <th></th>
      <th></th>
    </tr>
  </tbody>
  <br />
 <%= link_to 'Export to Excel', url_for(:format => 'xls') %>

