<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @travel_datum.date %>
</p>

<p>
  <b>Address:</b>
  <%= @travel_datum.address %>
</p>

<p>
  <b>School:</b>
  <%= @travel_datum.school %>
</p>

<p>
  <b>Start Time:</b>
  <%= @travel_datum.start_time.strftime("%I:%M %p") %>
</p>

<p>
  <b>Distance From Home:</b>
  <%= @travel_datum.distance_from_home %>
</p>

<p>
  <b>Home to school travel time:</b>
  <%=@travel_datum.formatted_home_to_school_travel_time %>
</p>

<p>
  <b>Departure:</b>
  <%= @travel_datum.departure.strftime("%I:%M %p") %>
</p>

<p>
  <b>Distance From School to Office:</b>
  <%= @travel_datum.distance_from_school_to_office %>
</p>

<p>
  <b>Time From School to Office:</b>
  <%= @travel_datum.formatted_school_to_office_travel_time %>
</p>

<p>
  <b>Gas Price:</b>
  <%= number_to_currency @travel_datum.gas_price %>
</p>

<p>
  <b>Gas total:</b>
  <%= number_to_currency @travel_datum.total_trip_gas_cost %>
</p>

<p>
  <b>End of Business:</b>
  <%= @travel_datum.end_of_business_time.strftime("%I:%M %p") %>
</p>

<p>
  <b>Position:</b>
  <%= @travel_datum.master_or_assistant %>
</p>


<p>
  <b>Traveling to office:</b>
  <%= @travel_datum.is_traveling_to_office %>
</p>

<p>
  <b>Total Business Time:</b>
  <%= @travel_datum.formatted_total_business_time %>
</p>

<p>
  <b>Hourly rate:</b>
  <%=number_to_currency @travel_datum.hourly_rate %>
</p>



<%= link_to 'Edit', edit_travel_datum_path(@travel_datum) %> |
<%= link_to 'Back', travel_data_path %>
