<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @travel_datum.Date %>
</p>

<p>
  <b>Address:</b>
  <%= @travel_datum.Address %>
</p>

<p>
  <b>School:</b>
  <%= @travel_datum.School %>
</p>

<p>
  <b>Start Time:</b>
  <%= @travel_datum.StartTime.strftime("%I:%M %p") %>
</p>

<p>
  <b>Distance From Home:</b>
  <%= @travel_datum.DistanceFromHome %>
</p>

<p>
  <b>Travel Time:</b>
  <%= @travel_datum.TravelTime.divmod(60)[0] %>:
  <% if @travel_datum.TravelTime.divmod(60)[1] < 10 %>
  <%="0" +(@travel_datum.TravelTime.divmod(60)[1]).to_s %>
  <% else %>
  <%=@travel_datum.TravelTime.divmod(60)[1] %>
  <% end %>
</p>

<p>
  <b>Departure:</b>
  <%= @travel_datum.Departure.strftime("%I:%M %p") %>
</p>

<p>
  <b>Distance From School to Office:</b>
  <%= @travel_datum.DistanceFromSchoolToOffice %>
</p>

<p>
  <b>Time From School to Office:</b>
  <%= @travel_datum.TimeFromSchoolToOffice %>
</p>

<p>
  <b>Gas Price:</b>
  <%= number_to_currency @travel_datum.gasprice %>
</p>

<p>
  <b>Gas total:</b>
  <%= number_to_currency @travel_datum.gastotal %>
</p>

<p>
  <b>End of Business:</b>
  <%= @travel_datum.EndOfBusiness.strftime("%I:%M %p") %>
</p>

<p>
  <b>Position:</b>
  <%= @travel_datum.position %>
</p>


<p>
  <b>Traveling to office:</b>
  <%= @travel_datum.isTravelingToOffice %>
</p>

<p>
  <b>Total Business TIme:</b>
  <%= @travel_datum.TotalBusinessTime %>
</p>

<p>
  <b>Hourly rate:</b>
  <%= @travel_datum.HourlyRate %>
</p>

<p>
  <b>Business Time:</b>
  <%= @travel_datum.BusinessTime %>
</p>


<%= link_to 'Edit', edit_travel_datum_path(@travel_datum) %> |
<%= link_to 'Back', travel_data_path %>
