<h1>Listing constants</h1>

<table>
  <tr>
    <th>Setuptime</th>
    <th>Mpg</th>
    <th>Home Address</th>
    <th> Office Address</th>
    <th></th>
    <th></th>
  </tr>

<% @constants.each do |constant| %>
  <tr>
    <td><%= constant.SetupTime %></td>
    <td><%= constant.mpg %></td>
    <td><%= constant.home_address %></td>
    <td><%= constant.officeAdr %> </td>
    <td><%= link_to 'Show', constant %></td>
    <td><%= link_to 'Edit', edit_constant_path(constant) %></td>
    <td><%= link_to 'Destroy', constant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if Constant.all.count == 0 %>
<%= link_to 'New Constant', new_constant_path %>
<% end %>
